<?xml version="1.0" encoding="UTF-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI Id="gdipp_WixUI_FeatureTree">
			<TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
			<TextStyle Id="WixUI_Font_Bold" FaceName="Tahoma" Size="8" Bold="yes" />
			<TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
			<TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

			<Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
			<Property Id="WixUI_Mode" Value="FeatureTree" />

			<DialogRef Id="ErrorDlg" />
			<DialogRef Id="FatalError" />
			<DialogRef Id="FilesInUse" />
			<DialogRef Id="MsiRMFilesInUse" />
			<DialogRef Id="PrepareDlg" />
			<DialogRef Id="ProgressDlg" />
			<DialogRef Id="ResumeDlg" />
			<DialogRef Id="UserExit" />

			<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg">1</Publish>

			<Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1"><![CDATA[Installed]]></Publish>
			<Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2"><![CDATA[NOT Installed]]></Publish>
			<Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg"><![CDATA[Installed]]></Publish>
			<Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="LoadModeDlg"><![CDATA[NOT Installed]]></Publish>

			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="LoadModeDlg" Order="1"><![CDATA[NOT Installed OR WixUI_InstallMode = "Change"]]></Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2"><![CDATA[Installed]]></Publish>

			<Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

			<Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

			<Dialog Id="LoadModeDlg" Width="370" Height="270" Title="[ProductName] Setup">
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
				<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Text="{\WixUI_Font_Title}!(loc.LoadModeDlg_Title)" Transparent="yes" NoPrefix="yes" />
				<Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Text="!(loc.LoadModeDlg_Description)" Transparent="yes" NoPrefix="yes" />
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
				<Control Id="LoadModeButtons" Type="RadioButtonGroup" X="10" Y="45" Width="350" Height="35" HasBorder="no" Property="LOADMODE">
					<RadioButtonGroup Property="LOADMODE">
						<RadioButton X="20" Y="14" Width="100" Height="12" Text="{\WixUI_Font_Bold}!(loc.LoadModeDlg_ServiceText)" Value="0" />
						<RadioButton X="150" Y="14" Width="100" Height="12" Text="!(loc.LoadModeDlg_RegistryText)" Value="1" />
						<RadioButton X="250" Y="14" Width="100" Height="12" Text="!(loc.LoadModeDlg_LoaderText)" Value="2" />
					</RadioButtonGroup>
				</Control>
				<Control Id="ServiceDesc" Type="ScrollableText" X="15" Y="80" Width="345" Height="145" Sunken="yes" Text="!(loc.LoadModeDlg_ServiceDesc)">
					<Condition Action="show"><![CDATA[LOADMODE = 0]]></Condition>
					<Condition Action="hide"><![CDATA[LOADMODE <> 0]]></Condition>
				</Control>
				<Control Id="RegistryDesc" Type="ScrollableText" X="15" Y="80" Width="345" Height="145" Sunken="yes" Text="!(loc.LoadModeDlg_RegistryDesc)">
					<Condition Action="show"><![CDATA[LOADMODE = 1]]></Condition>
					<Condition Action="hide"><![CDATA[LOADMODE <> 1]]></Condition>
				</Control>
				<Control Id="LoaderDesc" Type="ScrollableText" X="15" Y="80" Width="345" Height="145" Sunken="yes" Text="!(loc.LoadModeDlg_LoaderDesc)">
					<Condition Action="show"><![CDATA[LOADMODE = 2]]></Condition>
					<Condition Action="hide"><![CDATA[LOADMODE <> 2]]></Condition>
				</Control>
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
					<Publish Event="NewDialog" Value="CustomizeDlg">1</Publish>
				</Control>
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
					<Publish Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
					<Condition Action="enable"><![CDATA[Privileged OR (LOADMODE = 2)]]></Condition>
					<Condition Action="disable"><![CDATA[(NOT Privileged) AND (LOADMODE <> 2)]]></Condition>
				</Control>
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
					<Publish Event="SpawnDialog" Value="CancelDlg"><![CDATA[1]]></Publish>
				</Control>
			</Dialog>
			
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
		</UI>

		<UIRef Id="WixUI_Common" />
	</Fragment>
</Wix>