<?xml version="1.0" encoding="UTF-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="DEBE26E9-F39E-49F2-8154-42F95507E90D" UpgradeCode="DCC974F6-78BD-4AB5-94C5-79CED91D98CC"
			 Name="gdipp !(bind.FileVersion.gdimm_dll)"
			 Manufacturer="gdipp Project"
			 Language="!(loc.LANGID)"
			 Codepage="$(var.codepage)"
			 Version="!(bind.FileVersion.gdimm_dll)">
		<Package InstallerVersion="200" Compressed="yes" Platform="x86" />

		<Condition Message="!(loc.VersionFailMsg)">
			Installed OR (VersionNT >= 501)
		</Condition>

		<Property Id="LOADMODE" Value="0">
			<RegistrySearch Id="load_mode_registry" Root="HKCU" Key="Software\[ProductName]" Type="raw" />
		</Property>

		<Media Id="1" Cabinet="gdipp.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLDIR" Name="gdipp">
					<Component Id="gdipp_32" Guid="B94E958C-1843-4AEB-BB12-DEE8032CE0C8">
						<File Name="gdipp_demo_32.exe" Source="$(var.SolutionDir)Release\gdipp_demo_32.exe" />
						<File Name="gdipp_loader_32.exe" Source="$(var.SolutionDir)Release\gdipp_loader_32.exe" />
						<File Id="gdimm_dll" Name="gdimm_32.dll" Source="$(var.SolutionDir)Release\gdimm_32.dll" Vital="yes" KeyPath="yes" />
						<File Id="gdipp_readme" Name="README" Source="README" />
						<File Id="gdipp_changelog" Name="ChangeLog" Source="ChangeLog" />
					</Component>

					<Component Id="install_service_32" Guid="E478FCBC-2485-44A4-AC59-B722879E815A">
						<File Name="gdipp_svc_32.exe" Source="$(var.SolutionDir)Release\gdipp_svc_32.exe" KeyPath="yes" />
						<ServiceInstall Id="gdipp_svc_32_inst"
										Name="gdipp_svc_32"
										DisplayName="gdipp Service (32 bit)"
										Description="!(loc.gdippSvcDesc32)"
										Start="auto"
										Type="ownProcess"
										LoadOrderGroup="UIGroup"
										ErrorControl="normal">
							<ServiceDependency Id="winmgmt" />
						</ServiceInstall>
						<ServiceControl Id="gdipp_svc_32_ctrl"
										Name="gdipp_svc_32"
										Start="install"
										Stop="uninstall"
										Remove="uninstall"
										Wait="no" />
						<Condition>LOADMODE = 0</Condition>
					</Component>

					<Component Id="gdipp_setting" Guid="470FEEC1-6828-45F3-8663-4C154FDFF462" NeverOverwrite="yes" Permanent="yes">
						<File Name="setting.xml" Source="setting.xml" Vital="yes" KeyPath="yes" />
					</Component>

					<Directory Id="freetype_dir" Name="FreeType">
						<Component Id="freetype_doc" Guid="E7D7F0FD-F6A0-4BE8-9230-0BA86461C975">
							<File Id="freetype_readme" Name="README" Source="FreeType\README" KeyPath="yes" />
							<File Name="FTL.TXT" Source="FreeType\FTL.TXT" />
							<File Name="GPL.TXT" Source="FreeType\GPL.TXT" />
							<File Id="freetype_license" Name="LICENSE.TXT" Source="FreeType\LICENSE.TXT" />
						</Component>
					</Directory>

					<Directory Id="easyhook_dir" Name="EasyHook">
						<Component Id="easyhook_doc" Guid="63BE47ED-8547-42F4-86D6-773B99098DAF">
							<File Name="README.txt" Source="EasyHook\README.txt" KeyPath="yes" />
							<File Id="easyhook_license" Name="LICENSE.txt" Source="EasyHook\LICENSE.txt" />
						</Component>
					</Directory>
				</Directory>
			</Directory>

			<Directory Id="SystemFolder">
				<Component Id="easyhook_32" Guid="1037FD0E-1AC4-446D-B7F5-8A2D8B4DCDE8">
					<File Name="EasyHook32.dll" Source="..\EasyHook\EasyHook32.dll" Vital="yes" KeyPath="yes" />
				</Component>
			</Directory>

			<Component Id="set_appinit_dlls_32" Guid="4426EDCA-B420-46EC-B437-32B768DA2C4E" Permanent="yes">
				<RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion\Windows" Type="string" Name="AppInit_DLLs" Value="[!gdimm_32.dll]" KeyPath="yes" />
				<Condition>LOADMODE = 1</Condition>
			</Component>

			<Component Id="set_loadappinit_dlls_32" Guid="C712E1E1-2AEB-4A6C-B474-B45DFEB349FF" Permanent="yes">
				<RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion\Windows" Type="integer" Name="LoadAppInit_DLLs" Value="1" KeyPath="yes" />
				<Condition>(VersionNT >= 600) AND (LOADMODE = 1)</Condition>
			</Component>

			<Directory Id="DesktopFolder" />
			<Component Id="loader_shortcut_32" Guid="C9A3D0C1-948F-4033-9F47-F3C3558DB32B" NeverOverwrite="yes">
				<!-- The registry value is to make ICE43 and ICE57 happy -->
				<RegistryValue Root="HKCU" Key="Software\[ProductName]" Type="string" Value="[LOADMODE]" KeyPath="yes" />
				<Shortcut Id="desktop_gdipp_loader_32" Name="gdipp Loader" Target="[!gdipp_loader_32.exe]" Directory="DesktopFolder" WorkingDirectory="INSTALLDIR" />
				<Condition>LOADMODE = 2</Condition>
			</Component>

			<Component Id="set_load_mode" Guid="6A61B1BF-5927-463A-9FC6-7EB3ED7E3CB0">
				<RegistryValue Root="HKCU" Key="Software\[ProductName]" Type="string" Value="[LOADMODE]" KeyPath="yes" />
			</Component>
		</Directory>

		<CustomAction Id="reset_appinit_dlls_32"
					  Directory="SystemFolder"
					  ExeCommand='REG.EXE ADD "HKLM\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Windows" /v AppInit_DLLs /d "" /f' />
		<CustomAction Id="reset_loader_shortcut_32"
					  Directory="SystemFolder"
					  ExeCommand='REG.EXE ADD "HKLM\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Windows" /v LoadAppInit_DLLs /t REG_DWORD /d 0 /f' />

		<InstallExecuteSequence>
			<Custom Action="reset_appinit_dlls_32" After="InstallFinalize">
				(REMOVE = "ALL") AND (NOT UPGRADINGPRODUCTCODE) AND (LOADMODE = 1)
			</Custom>
			<Custom Action="reset_loader_shortcut_32" After="InstallFinalize">
				(REMOVE = "ALL") AND (NOT UPGRADINGPRODUCTCODE) AND (VersionNT >= 600) AND (LOADMODE = 1)
			</Custom>
		</InstallExecuteSequence>

		<Feature Id="gdipp" Level="1">
			<ComponentRef Id="gdipp_32" />
			<ComponentRef Id="gdipp_setting" />
			<ComponentRef Id="freetype_doc" />
			<ComponentRef Id="easyhook_doc" />
			<ComponentRef Id="easyhook_32" />
			<ComponentRef Id="install_service_32" />
			<ComponentRef Id="set_appinit_dlls_32" />
			<ComponentRef Id="set_loadappinit_dlls_32" />
			<ComponentRef Id="loader_shortcut_32" />
			<ComponentRef Id="set_load_mode" />
		</Feature>

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
		<UIRef Id="gdipp_WixUI_InstallDir" />
	</Product>
</Wix>
